<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Jenkins server</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <!-- JQuery -->
    <script type="text/javascript" src="static/libs/jquery-3.2.1.js"></script>
    <!-- MyScripts -->
    <script type="text/javascript" src="static/scripts/logic.js?version=1.0.0"></script>
</head>
<body>
    <h1>Service pages</h1>
    <p><a href="redirect?value=http://jenkins.17btest.com:8080">Jenkins</a></p>
    <p><a href="redirect?value=http://jenkins.17btest.com:5000">Script server</a></p>
    <p><a href="redirect?value=http://jenkins.17btest.com:8888">Image converter</a></p>
</body>
</html>